body {
  background-color: black;
    font-family: Arial, monospace;
    display: flex;
    height: 100%;
    margin: 0;
}

#sidebarCollapse {
  background: transparent;
  margin: 0;
}

.navbar-toggler {
  background-color: white;
  border-radius: 50%;
  padding: 5px;
}

.sidebar {
    height: 100%;
    width: 300px;
    padding: 10px;
    color: rgb(215, 242, 247);
    
}
#mainul {
  list-style: none;
}
#mainul li {
  margin-bottom: 20px;
  background-color: #fff;
  padding: 5px;
  border-radius: 10px;
  width: 40%;

}
#mainul li a {
  align-self: center;
  color: #3498db;
  text-decoration: none;
  font-size: 20px;
}
.pricechecks label {
    margin-bottom: 10px;
    padding: 5px;
    font-size: 18px;
    color: #3498db;
}

.pricechecks input {
  margin-right: 5px;
}

.brands label {
    margin-bottom: 10px;
    padding: 5px;
    font-size: 18px;
    color: #3498db;
}

.brands input {
    margin-right: 5px;
}

.hero {
    font-family: 'Trebuchet MS', serif;
    align-self: center;
    height: 170px;
    background-color: tr;
    margin: 10px
    
}

.container {
  /* background-color: yellow; */
  margin: 5px;
}
.container-sm {
  background-color: white;
  margin-top: 30px;
  padding: 20px;
}

.container-fluid {
  /* background-color: blue; */
  padding: 20px;
}

.card {
  background-color: transparent;
  color: white;
  box-shadow:0 4px 10px rgba(255,255,255,0.5);
}

.card a {
  color: white;
  text-decoration: none;
}

.card-body a {
  color: white;
  text-decoration: none;
  margin-bottom: 30px;
  padding: 10px;
  margin-bottom: 10px;
}

main {
  margin: 20px;
}





